{% extends "base.html" %}

{% block title %}
    {{ todo.name }}    
{% endblock title %}

{% block content %}
<div class="card col-6 offset-3 mt-5">
    <div class="card-header">
        <h4>Todo Task: {{ todo.name }}</h4>
    </div>
    <div class="card-body">
        <div>
            <p>{{ todo.name  }}</p> 
            <p> It's due on {{ todo.due_date }}.</p>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-outline-primary btn-sm " href="/{{todo.id}}/update">Update</a>
        <a class="btn btn-outline-danger btn-sm" href="/{{todo.id}}/delete">Delete</a>  
    </div>
</div>
{% endblock content %}
