{% extends "base.html" %}

{% block title %}
    Create Task    
{% endblock title %}

{% block content %}
    <div class="card col-6 offset-3">
        <div class="card-header">
            <h4>Todo Task Add</h4>
        </div>
        <div class="card-body">
    <form  method="post" accept-charset="utf-8">
        {% csrf_token %}
        {{ form.as_p }}
        <div>   
            <input class="btn btn-outline-primary" type="submit" value="Submmit">
        </div>
    </form>
        </div>
    </div>
{% endblock content %}
