{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="col-6 offset-3 mt-3 mb-2 d-flex justify-content-between align-items-center">
    <h2 class="title">Todo Tasks</h2>

    <a class="btn btn-outline-secondary btn-sm" href="/create">Create Task</a>
    </div>
    <div class="todo">
        <div class="col-6 offset-3">
        {% for task in todo_list %}
        <div class="card mb-3">
            <div class="card-header">
            <a class="nav-link" href="/{{ task.id }}">
                <h4>{{ task.name  }}</h4>
            </a>
            </div>
            <div class="card-body">
                <p>It's due on {{ task.due_date }}</p>
            </div>
        </div> 
        {% endfor %}
        </div>
    </div>
{% endblock content %}
